body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 400px;
}
h1 {
    @include font-title;
    margin: 0.5rem auto;
    font-weight: 400;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
footer {
    background-color: $color-darkest;
    padding: 0.5rem 0 0.5rem 0;
    h3 {
        font-family: $fontfam-title;
        font-size: 1.3rem;
        font-weight: 200;
        padding-left: 2.5rem;
        color: white;
        @media only screen and (min-width: 992px) {
            text-align: center;}
    }
    li {
        font-size: 1rem;
        padding-bottom: 0.5rem;
        a {
        color: white;}
        i {
            font-size: 0.9rem;
            padding-right: 1rem;
            width: 0.5rem;
        }
    }
        @media only screen and (min-width: 992px) {
            text-align: center;
    }

}
