

body {
    display: flex;
    flex-direction: column;
}
h1 {
    @include font-title;
    margin: 0.5rem auto;

}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
footer {
    background-color: $color-darkest;
    
    h3 {
        font-family: $fontfam-title;
        font-size: 1.3rem;
        font-weight: 200;
        padding-left: 2rem;
        color: white;
    }
    li {
        font-size: 1rem;
        padding-bottom: 0.5rem;
        a {
        color: white;}
        i {
            font-size: 0.9rem;
            padding-right: 1rem;
            width: 0.5rem;
        }
    }
}
