/*     polices     */
/*     couleurs     */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
span,
p,
h2,
h3,
li {
  font-family: "Roboto", "sans-serif";
  color: black;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

@keyframes food-animation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    opacity: 1;
    transform: rotate(-3turn);
    border-top: 4px solid #9356dc;
  }
  30% {
    border-top: 4px solid #ff79da;
  }
  60% {
    border-top: 4px solid #98e2cf;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes background-opacity {
  0% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 400px;
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem auto;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  background-color: #353535;
  padding: 0.5rem 0 0.5rem 0;
}
footer h3 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 2.5rem;
  color: white;
}
@media only screen and (min-width: 992px) {
  footer h3 {
    text-align: center;
  }
}
footer li {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
footer li a {
  color: white;
}
footer li i {
  font-size: 0.9rem;
  padding-right: 1rem;
  width: 0.5rem;
}
@media only screen and (min-width: 992px) {
  footer {
    text-align: center;
  }
}

section,
.spinner__background {
  animation: background-opacity 3000ms;
}

.spinner::before {
  opacity: 0;
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-right: 4px solid transparent;
  animation: spinner 3000ms linear;
}

.location {
  font-weight: 600;
  box-shadow: inset 0 3px 2px #cecece;
  background-color: #e8e8e8;
  text-align: center;
}
.location .fa-map-marker-alt {
  font-weight: 800;
  font-size: 1.2rem;
  padding: 1rem 0.8rem;
}
.location span {
  padding-right: 2.5rem;
}

.explorer {
  background-color: #f4f4f4;
  padding-bottom: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.explorer h2 {
  margin: 0;
  padding-top: 2.5rem;
}
.explorer p {
  padding-bottom: 1.5rem;
}
.explorer button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border-radius: 3rem;
  background: radial-gradient(ellipse farthest-corner at top left, #ff79da, #9356dc);
  border: none;
  box-shadow: 2px 4px 4px #c0c0c0;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition-duration: 0.25s;
}
.explorer button:hover {
  opacity: 0.8;
  box-shadow: 2px 4px 4px #929292;
}

.steps .flex-buttons {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1125px) {
  .steps .flex-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
.steps h2 {
  padding-left: 1rem;
}
.steps button {
  background-color: #f4f4f4;
  position: relative;
  border-radius: 1.5rem;
  height: 5rem;
  margin: 0.7rem 2rem;
  box-shadow: 0 6px 6px #e8e8e8;
  border: none;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}
@media only screen and (min-width: 1125px) {
  .steps button {
    flex: 1;
    max-width: 33%;
  }
}
.steps button:hover {
  background: rgba(146, 86, 220, 0.1);
}
.steps button:hover i {
  color: #9356dc;
}
.steps button i {
  padding-right: 2rem;
  color: gray;
  font-size: 1.3rem;
}
@media only screen and (min-width: 1125px) {
  .steps button i {
    padding-left: 2rem;
  }
}
.steps button span {
  padding-right: 2rem;
}
.steps button .step-number {
  position: absolute;
  left: -1rem;
  top: 1.5rem;
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
}

.restaurants-index {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin-top: 3rem;
  padding-bottom: 3rem;
  justify-content: space-around;
}
.restaurants-index h2 {
  padding-left: 1rem;
}
@media only screen and (min-width: 992px) {
  .restaurants-index .media-flex-retaurants {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .restaurants-index .media-flex-retaurants .part {
    flex: 1;
    max-width: 50%;
  }
}
.restaurants-index .restaurants {
  position: relative;
  border-radius: 1rem;
  margin: 0 1rem 1rem 1rem;
  background-color: white;
  box-shadow: 0px 2px 12px 4px #e8e8e8;
  text-decoration: none;
}
.restaurants-index .restaurants__describ {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.restaurants-index .restaurants__describ h3 {
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
}
.restaurants-index .restaurants__describ p {
  margin-top: 0;
}
.restaurants-index .restaurants__describ i {
  right: 2.5rem;
  bottom: 2rem;
  position: absolute;
  font-size: 2rem;
  background: transparent;
  border: none;
  color: black;
}
.restaurants-index .restaurants__describ i:hover {
  font-weight: 800;
  transition: 500ms;
}
.restaurants-index .restaurants__describ i:hover::after {
  opacity: 1;
}
.restaurants-index .restaurants__describ i::after {
  content: "";
  opacity: 0;
  transition: 500ms;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: lighten;
}
.restaurants-index .restaurants .new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #98e2cf;
  border-radius: 0.2rem;
  color: #04765a;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.restaurants-index .restaurants__picture {
  height: 12rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background-size: cover;
  background-position: center;
}
.restaurants-index .restaurants .picture1 {
  background-image: url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurants-index .restaurants .picture2 {
  background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurants-index .restaurants .picture3 {
  background-image: url("images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurants-index .restaurants .picture4 {
  background-image: url("images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.fa-arrow-left {
  color: black;
  position: absolute;
  font-size: 1.5rem;
  top: 1.5rem;
  left: 2rem;
  cursor: pointer;
}
.fa-arrow-left:hover {
  color: #9356dc;
}

.restaurant {
  position: relative;
  background-color: #f4f4f4;
}
.restaurant__picture {
  height: 18rem;
  background-size: cover;
  background-position: center;
}
.restaurant .picture1 {
  background-image: url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurant .picture2 {
  background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurant .picture3 {
  background-image: url("images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurant .picture4 {
  background-image: url("images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.restaurant #restaurant__name {
  padding-left: 0.5rem;
  text-align: left;
  background: none;
}
.restaurant__describ {
  padding: 1rem 0 0 0;
  margin-top: -2rem;
  background-color: #f4f4f4;
  border-radius: 2rem 2rem 0 0;
  padding-left: 1rem;
}
.restaurant i {
  position: absolute;
  font-size: 2rem;
  background: transparent;
  border: none;
  color: black;
  right: 2.5rem;
  bottom: 1rem;
}
.restaurant i:hover {
  font-weight: 800;
  transition: 500ms;
}
.restaurant i:hover::after {
  opacity: 1;
}
.restaurant i::after {
  content: "";
  opacity: 0;
  transition: 500ms;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: lighten;
}

.background {
  background-color: #f4f4f4;
}
@media only screen and (min-width: 992px) {
  .background .media-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
.background .menu {
  opacity: 0;
  animation: food-animation 600ms;
  animation-fill-mode: forwards;
}
.background .menu--1 {
  animation-delay: 600ms;
}
.background .menu--2 {
  animation-delay: 1200ms;
}
.background .menu--3 {
  animation-delay: 1800ms;
}
@media only screen and (min-width: 992px) {
  .background .menu {
    flex: 1;
    max-width: 33%;
  }
}
.background .menu__part {
  margin-bottom: 0.8rem;
  padding: 2rem 1rem 0 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.background .green-trait {
  position: relative;
  left: 1.5rem;
  top: -0.3rem;
  width: 60px;
  border-top: 4px solid #98e2cf;
  animation: food-animation 2000ms;
  animation-fill-mode: forwards;
}
.background .green-trait--1 {
  animation-delay: 500ms;
}
.background .green-trait--2 {
  animation-delay: 1000ms;
}
.background .green-trait--3 {
  animation-delay: 1500ms;
}
.background .food {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  opacity: 0;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 1rem 0 1rem;
  box-shadow: 0px 2px 6px 4px #dbdbdb;
  animation: food-animation 1000ms;
  animation-fill-mode: forwards;
}
.background .food--1 {
  animation-delay: 300ms;
}
.background .food--2 {
  animation-delay: 600ms;
}
.background .food--3 {
  animation-delay: 900ms;
}
.background .food--4 {
  animation-delay: 1200ms;
}
.background .food--5 {
  animation-delay: 1500ms;
}
.background .food--6 {
  animation-delay: 1800ms;
}
.background .food--7 {
  animation-delay: 2100ms;
}
.background .food--8 {
  animation-delay: 2400ms;
}
.background .food--9 {
  animation-delay: 2700ms;
}
.background .food--10 {
  animation-delay: 3000ms;
}
.background .food .food__describ {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.background .food .food__describ h3 {
  padding-left: 1rem;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.background .food .food__describ p {
  margin-top: 0;
  padding-left: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.background .food .prix {
  display: flex;
  padding: 1.9rem 1.5rem 0 1rem;
  font-weight: 600;
  transition: transform 500ms;
}
.background .food .checked {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5rem;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 500ms;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #98e2cf;
  border-radius: 0 1rem 1rem 0;
}
.background .food .checked .fa-check-circle {
  position: relative;
  color: white;
  font-size: 2rem;
  transform: translateX(0) rotate(0);
  transition: transform 500ms ease-in-out;
}
.background .food:hover .checked {
  opacity: 1;
  transform: scaleX(1);
}
.background .food:hover .fa-check-circle {
  transform: translateX(-0.1rem) rotate(1turn);
}
.background .food:hover .prix {
  transform: translateX(-5rem);
  padding-left: 6rem;
}
.background .order {
  margin: 4rem auto;
  text-align: center;
}
.background button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border-radius: 3rem;
  background: radial-gradient(ellipse farthest-corner at top left, #ff79da, #9356dc);
  border: none;
  box-shadow: 2px 4px 4px #c0c0c0;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition-duration: 0.25s;
  padding: 1rem 3rem;
}
.background button:hover {
  opacity: 0.8;
  box-shadow: 2px 4px 4px #929292;
}

/*# sourceMappingURL=style.css.map */
