@mixin font-title {
  font-family: $fontfam-title;
  font-size: 2rem;
  text-align: center;
}

@mixin button-style {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border-radius: 3rem;
  background: radial-gradient(
    ellipse farthest-corner at top left,
    $color-secondary,
    $color-primary
  );
  border: none;
  box-shadow: 2px 4px 4px #c0c0c0;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition-duration: 0.25s;
  &:hover {
    opacity: 0.8;
    box-shadow: 2px 4px 4px #929292;
  }
}

@mixin new-style {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: $color-tertiary;
  border-radius: 0.2rem;
  color: hsl(165, 93%, 24%);
  font-weight: 600;
  padding: 0.5rem 1rem;
}

@mixin like-click {
  background: linear-gradient(0deg, $color-primary, $color-secondary);
  opacity: 1;
  transition: 0.5s;
  font-weight: 600;
}

@keyframes food-animation {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}