@mixin font-title {
  font-family: $fontfam-title;
  font-size: 2rem;
  text-align: center;
}

@mixin button-style {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border-radius: 3rem;
  background: radial-gradient(
    ellipse farthest-corner at top left,
    $color-secondary,
    $color-primary
  );
  border: none;
  box-shadow: 2px 4px 4px #c0c0c0;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition-duration: 0.25s;
  &:hover {
    opacity: 0.8;
    box-shadow: 2px 4px 4px #929292;
  }
}

@mixin new-style {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: $color-tertiary;
  border-radius: 0.2rem;
  color: hsl(165, 93%, 24%);
  font-weight: 600;
  padding: 0.5rem 1rem;
}

@mixin like-click {
    position: absolute;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: black;
    &:hover {
      font-weight: 800;
      transition: 500ms;
    }
    &:hover::after {
        opacity: 1;
        font-weight: 800;
      }
    &::after {
      content: "";
      opacity: 0;
      transition: 500ms;
      background-color: transparent;
      background: linear-gradient(0deg, $color-primary, $color-secondary);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      mix-blend-mode: lighten;
    }
  }

@keyframes food-animation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}