/*     polices     */
$fontfam-title: "Shrikhand",'sans-serif';
$fontfam-text: "Roboto", 'sans-serif';

/*     couleurs     */
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-darkest: #353535;
$color-medium: lighten($color-darkest, 70);
$color-light: lighten($color-darkest, 75);

@mixin font-title {
  font-family: $fontfam-title;
  font-size: 2rem;
  text-align: center;
}
span,
p,
h2,
h3,
li {
  font-family: $fontfam-text;
}
h2 {
  font-size: 1.5rem;
  font-weight: 800;
}
p {
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(95, 94, 94);
}

@mixin button-style {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  border-radius: 3rem;
  background: radial-gradient(ellipse farthest-corner at top left, $color-secondary, $color-primary);
  border: none;
  box-shadow: 0px 4px 4px $color-medium;
  padding: 1rem 1.5rem;
}
