/*     polices     */
$fontfam-title: "Shrikhand",'sans-serif';
$fontfam-text: "Roboto", 'sans-serif';

/*     couleurs     */
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: hsl(165, 56%, 74%);
$color-darkest: #353535;
$color-medium: lighten($color-darkest, 70);
$color-light: lighten($color-darkest, 75);
$anim-dur: 2000ms;
$anim-delay: $anim-dur / 10;



span,
p,
h2,
h3,
li {
  font-family: $fontfam-text;
  color: black;
}
h2 {
  font-size: 1.5rem;
  font-weight: 800;
}


